
div {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    height: 300px;
    background-color: red;
}
    h1 {
        font-size: 60px;
        text-align: center;
        margin: 80px 100px 10px;
        line-height: 40px;
        color: #fff;
        padding: 20px 0;
        letter-spacing: 3px;
       
    }
    p {
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        color: rgb(104, 73, 189);  
    }